<div class="row">
  <div id="chat" class="col-xs-12">
  	<p *ngFor="let message of messages"><strong>{{ message.user }}</strong>: {{ message.text }}</p>
  </div>
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-11 form-group">
      	  <input type="text" id="text" class="form-control" #textInput>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-primary" type="button" (click)="onSend(textInput)">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>