<div class="row">
  <div id="chat" class="col-xs-12">
  	<p *ngFor="let message of messages"><strong>{{ message.user }}</strong>: {{ message.text }}</p>
  </div>
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-10 form-group">
      	  <input type="text" id="text" class="form-control" #textInput>
          <div class="alert alert-danger" *ngIf="textError">{{ textError }}</div>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-primary" type="submit" (click)="onSend(textInput)">Send</button>
        </div>
        <div class="col-xs-1">
          <button class="btn btn-danger" type="button" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </form>
  </div>
</div>