<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12 form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" #usernameInput>
          <div class="alert alert-danger" *ngIf="usernameError">{{ usernameError }}</div>
        </div>
        <div class="col-xs-12 form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" #passwordInput>
          <div class="alert alert-danger" *ngIf="passwordError">{{ passwordError }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="submit" (click)="onLogin()">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>