<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12 form-group">
          <label for="username">Username</label>
          <input type="text" id="username" class="form-control" #usernameInput>
        </div>
        <div class="col-xs-12 form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" #passwordInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="button" (click)="onLogin()">Join</button>
        </div>
      </div>
    </form>
  </div>
</div>